NODE_ENV=dev
PORT=5000
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your-password
DB_NAME=my-project-assignment
JWT_SECRET=
ACCESS_SECRET=
REFRESH_SECRET=
ACCESS_EXPIRE=1h
REFRESH_EXPIRE=7d
ACCESS_COOKIES_EXPIRE=3600000
REFRESH_COOKIES_EXPIRE=604800000
SEED_PASSWORD=
RESEND_API_KEY=